name: Linux

on: [push, pull_request]

jobs:

  build-and-test:
  
    strategy:
      matrix:
        go-version: [1.23]
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Test
      run: go test -v -race ./...
